@font-face {
  font-family: 'merriweathersans';
  src: url('../../../templates/Default/fonts/merriweathersans-regular-webfont.eot');
  src: url('../../../templates/Default/fonts/merriweathersans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../../templates/Default/fonts/merriweathersans-regular-webfont.woff') format('woff'), url('../../../templates/Default/fonts/merriweathersans-regular-webfont.ttf') format('truetype'), url('../../../templates/Default/fonts/merriweathersans-regular-webfont.svg#merriweathersans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'merriweathersans';
  src: url('../../../templates/Default/fonts/merriweathersans-italic-webfont.eot');
  src: url('../../../templates/Default/fonts/merriweathersans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../../../templates/Default/fonts/merriweathersans-italic-webfont.woff') format('woff'), url('../../../templates/Default/fonts/merriweathersans-italic-webfont.ttf') format('truetype'), url('../../../templates/Default/fonts/merriweathersans-italic-webfont.svg#merriweathersans') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'merriweathersans';
  src: url('../../../templates/Default/fonts/merriweathersans-bold-webfont.eot');
  src: url('../../../templates/Default/fonts/merriweathersans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../../templates/Default/fonts/merriweathersans-bold-webfont.woff') format('woff'), url('../../../templates/Default/fonts/merriweathersans-bold-webfont.ttf') format('truetype'), url('../../../templates/Default/fonts/merriweathersans-bold-webfont.svg#merriweathersans') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'merriweathersans';
  src: url('../../../templates/Default/fonts/merriweathersans-bolditalic-webfont.eot');
  src: url('../../../templates/Default/fonts/merriweathersans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../../../templates/Default/fonts/merriweathersans-bolditalic-webfont.woff') format('woff'), url('../../../templates/Default/fonts/merriweathersans-bolditalic-webfont.ttf') format('truetype'), url('../../../templates/Default/fonts/merriweathersans-bolditalic-webfont.svg#merriweathersans') format('svg');
  font-weight: bold;
  font-style: italic;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rok-left {
  float: left;
}
.rok-right {
  float: right;
}
.rok-dropdown-group,
.rok-dropdown {
  position: relative;
}
.rok-dropdown-open .rok-dropdown {
  display: block;
}
.rok-popover-group,
.rok-popover {
  position: relative;
}
.rok-popover-open .rok-popover {
  display: block;
}
.rt-image {
  position: relative;
}
.rt-image img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rt-image.with-attribution {
  display: block;
}
.rt-image.with-attribution .rt-attribution {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.rt-image.with-attribution .rt-attribution a {
  color: #ffffff !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.rt-image.with-attribution:hover .rt-attribution {
  opacity: 1;
  visibility: visible;
}
.rt-transparent-image {
  opacity: 0.5;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.rt-transparent-image:hover {
  opacity: 1;
}
.rt-icon-large {
  font-size: 5.0em;
  line-height: 1.5em;
}
.rt-circle-number {
  color: #ffffff;
  background: #F6D653;
  border-radius: 100%;
  display: block;
  font-size: 1.5em;
  height: 20px;
  line-height: 20px;
  margin: 15px;
  padding: 10px;
  width: 20px;
}
[class*="demostyle-type-preset1"] .rt-circle-number {
  color: #776106;
}
.rt-green-text {
  color: #1ABC9C;
}
.rt-red-text {
  color: #E74C3C;
}
.rt-mbsb-table .rt-sb-table-col {
  height: 38px;
  vertical-align: middle;
}
.rt-mbsb-table .rt-mb-table-col {
  height: 75px;
  vertical-align: middle;
}
.demostyle-type-preset8 .fp-roksprocket-tabs-showcase .sprocket-tabs-nav li:first-child .sprocket-tabs-icon {
  background-image: url(../../../images/rocketlauncher/home/fp-roksprocket-tabs-showcase/img-preset-8-thumb.jpg);
  background-repeat: no-repeat;
}
.demostyle-type-preset8 .fp-roksprocket-tabs-showcase .sprocket-tabs-panels .sprocket-tabs-panel:first-child .sprocket-tabs-image {
  background-image: url(../../../images/rocketlauncher/home/fp-roksprocket-tabs-showcase/img-preset-8.jpg);
  background-repeat: no-repeat;
}
.demostyle-type-preset7 .fp-roksprocket-tabs-showcase .sprocket-tabs-nav li:first-child .sprocket-tabs-icon {
  background-image: url(../../../images/rocketlauncher/home/fp-roksprocket-tabs-showcase/img-preset-7-thumb.jpg);
  background-repeat: no-repeat;
}
.demostyle-type-preset7 .fp-roksprocket-tabs-showcase .sprocket-tabs-panels .sprocket-tabs-panel:first-child .sprocket-tabs-image {
  background-image: url(../../../images/rocketlauncher/home/fp-roksprocket-tabs-showcase/img-preset-7.jpg);
  background-repeat: no-repeat;
}
.demostyle-type-preset6 .fp-roksprocket-tabs-showcase .sprocket-tabs-nav li:first-child .sprocket-tabs-icon {
  background-image: url(../../../images/rocketlauncher/home/fp-roksprocket-tabs-showcase/img-preset-6-thumb.jpg);
  background-repeat: no-repeat;
}
.demostyle-type-preset6 .fp-roksprocket-tabs-showcase .sprocket-tabs-panels .sprocket-tabs-panel:first-child .sprocket-tabs-image {
  background-image: url(../../../images/rocketlauncher/home/fp-roksprocket-tabs-showcase/img-preset-6.jpg);
  background-repeat: no-repeat;
}
.demostyle-type-preset5 .fp-roksprocket-tabs-showcase .sprocket-tabs-nav li:first-child .sprocket-tabs-icon {
  background-image: url(../../../images/rocketlauncher/home/fp-roksprocket-tabs-showcase/img-preset-5-thumb.jpg);
  background-repeat: no-repeat;
}
.demostyle-type-preset5 .fp-roksprocket-tabs-showcase .sprocket-tabs-panels .sprocket-tabs-panel:first-child .sprocket-tabs-image {
  background-image: url(../../../images/rocketlauncher/home/fp-roksprocket-tabs-showcase/img-preset-5.jpg);
  background-repeat: no-repeat;
}
.demostyle-type-preset4 .fp-roksprocket-tabs-showcase .sprocket-tabs-nav li:first-child .sprocket-tabs-icon {
  background-image: url(../../../images/rocketlauncher/home/fp-roksprocket-tabs-showcase/img-preset-4-thumb.jpg);
  background-repeat: no-repeat;
}
.demostyle-type-preset4 .fp-roksprocket-tabs-showcase .sprocket-tabs-panels .sprocket-tabs-panel:first-child .sprocket-tabs-image {
  background-image: url(../../../images/rocketlauncher/home/fp-roksprocket-tabs-showcase/img-preset-4.jpg);
  background-repeat: no-repeat;
}
.demostyle-type-preset3 .fp-roksprocket-tabs-showcase .sprocket-tabs-nav li:first-child .sprocket-tabs-icon {
  background-image: url(../../../images/rocketlauncher/home/fp-roksprocket-tabs-showcase/img-preset-3-thumb.jpg);
  background-repeat: no-repeat;
}
.demostyle-type-preset3 .fp-roksprocket-tabs-showcase .sprocket-tabs-panels .sprocket-tabs-panel:first-child .sprocket-tabs-image {
  background-image: url(../../../images/rocketlauncher/home/fp-roksprocket-tabs-showcase/img-preset-3.jpg);
  background-repeat: no-repeat;
}
.demostyle-type-preset2 .fp-roksprocket-tabs-showcase .sprocket-tabs-nav li:first-child .sprocket-tabs-icon {
  background-image: url(../../../images/rocketlauncher/home/fp-roksprocket-tabs-showcase/img-preset-2-thumb.jpg);
  background-repeat: no-repeat;
}
.demostyle-type-preset2 .fp-roksprocket-tabs-showcase .sprocket-tabs-panels .sprocket-tabs-panel:first-child .sprocket-tabs-image {
  background-image: url(../../../images/rocketlauncher/home/fp-roksprocket-tabs-showcase/img-preset-2.jpg);
  background-repeat: no-repeat;
}
.demostyle-type-preset1 .fp-roksprocket-tabs-showcase .sprocket-tabs-nav li:first-child .sprocket-tabs-icon {
  background-image: url(../../../templates/Default/images_rt/img-01-thumb.jpg);
  background-repeat: no-repeat;
}

.fp-roksprocket-tabs-showcase.rt-block {
  margin: 0 !important;
  padding: 0 !important;
}
.fp-roksprocket-tabs-showcase .layout-left .sprocket-tabs-nav,
.fp-roksprocket-tabs-showcase .layout-right .sprocket-tabs-nav {
  margin-left: 0;
  margin-right: 0;
  width: 300px;
}
.fp-roksprocket-tabs-showcase .layout-left .sprocket-tabs-nav li,
.fp-roksprocket-tabs-showcase .layout-right .sprocket-tabs-nav li {
  margin-bottom: 0;
}
.fp-roksprocket-tabs-showcase .layout-left .sprocket-tabs-nav .sprocket-tabs-inner,
.fp-roksprocket-tabs-showcase .layout-right .sprocket-tabs-nav .sprocket-tabs-inner {
  padding: 0 !important;
  background: none !important;
  border-radius: 0 !important;
}
.fp-roksprocket-tabs-showcase .layout-left .sprocket-tabs-nav .sprocket-tabs-icon,
.fp-roksprocket-tabs-showcase .layout-right .sprocket-tabs-nav .sprocket-tabs-icon {
  margin: 0;
  float: none;
}
.fp-roksprocket-tabs-showcase .layout-left .sprocket-tabs-panels,
.fp-roksprocket-tabs-showcase .layout-right .sprocket-tabs-panels {
  padding: 0;
  border: 0;
}
.fp-roksprocket-tabs-showcase .layout-left .sprocket-tabs-panels img,
.fp-roksprocket-tabs-showcase .layout-right .sprocket-tabs-panels img {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.fp-roksprocket-tabs-showcase .layout-left .sprocket-tabs-panels {
  margin-left: 300px;
}
.fp-roksprocket-tabs-showcase .layout-right .sprocket-tabs-panels {
  margin-left: 0;
  margin-right: 300px;
}
.fp-roksprocket-tabs-showcase .layout-right .sprocket-tabs-nav li {
  float: none;
  margin-left: 0;
}
.fp-roksprocket-tabs-showcase .sprocket-tabs-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  font-size: 1.2em;
  font-style: italic;
  opacity: 0.6;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.fp-roksprocket-tabs-showcase li.active .sprocket-tabs-text,
.fp-roksprocket-tabs-showcase li:hover .sprocket-tabs-text {
  opacity: 1;
}
.fp-roksprocket-tabs-showcase .sprocket-tabs-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  width: 100%;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.fp-roksprocket-tabs-showcase .sprocket-tabs-desc .rt-title-tag {
  opacity: 1;
}
.fp-roksprocket-tabs-showcase .readon {
  margin-top: 25px;
  font-size: 1.5em;
  padding: 15px 35px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #ffffff !important;
  background-color: #F6D653 !important;
}
[class*="demostyle-type-preset1"] .fp-roksprocket-tabs-showcase .readon {
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #8f7407 !important;
  background-color: #F6D653 !important;
}
.fp-roksprocket-tabs-showcase .readon:hover {
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fef9e4 !important;
  background-color: #f5d03b !important;
}
[class*="demostyle-type-preset1"] .fp-roksprocket-tabs-showcase .readon:hover {
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #8f7407 !important;
  background-color: #d8b00b !important;
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .layout-left .sprocket-tabs-nav {
    width: 240px;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .layout-left .sprocket-tabs-panels {
    margin-left: 240px;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .layout-right .sprocket-tabs-nav {
    width: 240px;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .layout-right .sprocket-tabs-panels {
    margin-left: 0;
    margin-right: 240px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .layout-left .sprocket-tabs-text {
    font-size: 1em;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .layout-left .sprocket-tabs-nav {
    width: 192px;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .layout-left .sprocket-tabs-panels {
    margin-left: 192px;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .layout-right .sprocket-tabs-nav {
    width: 192px;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .layout-right .sprocket-tabs-panels {
    margin-left: 0;
    margin-right: 192px;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .rt-text-large {
    font-size: 25px;
    line-height: 35px;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .rt-title-tag {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .layout-left .sprocket-tabs-text {
    font-size: 0.7em;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .layout-left .sprocket-tabs-nav {
    width: 25%;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .layout-left .sprocket-tabs-panels {
    margin-left: 25%;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .layout-left .sprocket-tabs-desc {
    width: 100%;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .layout-right .sprocket-tabs-text {
    font-size: 0.7em;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .layout-right .sprocket-tabs-nav {
    width: 25%;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .layout-right .sprocket-tabs-panels {
    margin-left: 0;
    margin-right: 25%;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .layout-right .sprocket-tabs-desc {
    width: 100%;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .rt-text-large {
    font-size: 18px;
    line-height: 18px;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .rt-title-tag {
    font-size: 10px;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .readon {
    font-size: 1em;
    padding: 10px 15px;
  }
}
@media only screen and (max-width: 480px) {
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .layout-left .sprocket-tabs-text,
  body.layout-mode-responsive .fp-roksprocket-tabs-showcase .layout-right .sprocket-tabs-text {
    display: none;
  }
}
.fp-content-top-01.rt-block {
  text-align: center;
}
.fp-content-top-01 .rt-icon-large {
  opacity: 0.5;
}
.fp-content-top-01 .rt-circle-number {
  position: relative;
  margin: -65px auto 25px auto;
  left: 35px;
}
.fp-content-top-02.rt-block {
  padding: 0;
}
.fp-roksprocket-tabs-content-top.rt-block {
  padding: 25px 0 0 0;
}
.fp-roksprocket-tabs-content-top .sprocket-tabs .sprocket-tabs-nav {
  margin-left: 15px;
}
.fp-roksprocket-tabs-content-top .sprocket-tabs .sprocket-tabs-nav li .sprocket-tabs-inner {
  border-radius: 3px 3px 0 0;
}
.fp-roksprocket-tabs-content-top .sprocket-tabs .sprocket-tabs-nav > li.active > .sprocket-tabs-inner {
  color: #808080;
  background: #ffffff;
}
.fp-roksprocket-tabs-content-top .sprocket-tabs-content img {
  border-radius: 3px;
}
@media (max-width: 767px) {
  body.layout-mode-responsive .fp-roksprocket-tabs-content-top.rt-block {
    padding: 25px 0;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-content-top .sprocket-tabs .sprocket-tabs-nav li .sprocket-tabs-inner {
    font-size: 0.85em;
    padding: 8px;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-content-top .sprocket-tabs-panels .sprocket-tabs-content {
    padding: 10px 20px;
  }
  body.layout-mode-responsive .fp-roksprocket-tabs-content-top hr {
    margin: 10px -10px 20px -10px;
  }
}
@media only screen and (max-width: 480px) {
  body.layout-mode-responsive .fp-roksprocket-tabs-content-top .sprocket-tabs .sprocket-tabs-nav li .sprocket-tabs-inner {
    font-size: 0.8em;
    padding: 5px;
  }
}
.fp-content-bottom-01.rt-block {
  padding: 15px;
  width: 85%;
  margin: 25px auto;
}
.fp-roksprocket-headlines.rt-block {
  padding: 10px;
}
.fp-roksprocket-headlines .sprocket-headlines {
  margin: 0 45px 0 0;
}
.fp-roksprocket-headlines .sprocket-headlines-navigation .arrow {
  background: none;
}
.fp-roksprocket-headlines .sprocket-headlines-navigation .prev {
  left: inherit;
  right: -10px;
}
@media (max-width: 767px) {
  body.layout-mode-responsive .fp-roksprocket-headlines .sprocket-headlines-text {
    white-space: normal;
  }
  body.layout-mode-responsive .fp-roksprocket-headlines .sprocket-headlines-navigation .next {
    right: -60px;
  }
  body.layout-mode-responsive .fp-roksprocket-headlines .sprocket-headlines-navigation .prev {
    right: -30px;
  }
}
#rt-sidebar-a .fp-sidebar-01 ul.menu li a {
  color: #ffffff;
}
[class*="demostyle-type-preset1"] #rt-sidebar-a .fp-sidebar-01 ul.menu li a {
  color: #5f4d05 !important;
}
#rt-sidebar-a .fp-sidebar-01 ul.menu li a:hover {
  color: #f3ca23;
  background: #ffffff;
}
[class*="demostyle-type-preset1"] #rt-sidebar-a .fp-sidebar-01 ul.menu li a:hover {
  color: #bf9c0a !important;
}
.fp-sidebar-02 hr {
  border-bottom: 0;
  margin: 20px -25px;
  opacity: 0.15;
}
.fp-footer-c a {
  text-decoration: none;
}
.fp-footer-c a:hover {
  text-decoration: none;
}
.fp-footer-c .inputbox,
.fp-footer-c .readon {
  display: inline-block;
}
.fp-footer-c .inputbox {
  width: 60%;
  border: 1px solid transparent;
}
.fp-footer-c .readon {
  width: 35%;
}
.gantry-example {
  position: relative;
  margin: 15px 0;
  padding: 45px 19px 14px;
  *padding-top: 19px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
.gantry-example .table,
.gantry-example .well,
.gantry-example blockquote {
  margin-bottom: 5px;
}
.gantry-example .lead {
  font-size: 18px;
  line-height: 24px;
}
.gantry-example > p:last-child {
  margin-bottom: 0;
}
.gantry-example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}
.gantry-example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  color: #9da0a4;
  border-radius: 4px 0 4px 0;
  font-style: normal;
}
.gantry-example .search-query {
  margin-bottom: 0;
}
form.gantry-example {
  padding-bottom: 19px;
}
.form-actions {
  background-color: ;
  border-top: 1px solid #d5d5d5;
}
.help-block,
.help-inline {
  color: ;
}
.docs-input-sizes input {
  margin-bottom: 15px;
}
.rt-table {
  clear: both;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #dbdbdb;
  margin: 35px 0;
  list-style: none;
}
.rt-table.rt-table-last-col {
  border-right: 0;
}
.rt-table li {
  padding: 15px 25px;
}
@media (max-width: 767px) {
  body.layout-mode-responsive .rt-table {
    border-width: 1px 0;
  }
}
.rt-table-title {
  font-size: 1.5em;
  color: #E8EBED;
  background: #2F3237;
  text-align: center;
}
.rt-table-price {
  font-size: 2em;
  color: #2F3237;
  background: #E8EBED;
  border-bottom: 1px solid #dbdbdb;
  padding: 25px !important;
  text-align: center;
}
.rt-blog-form .inputbox,
.rt-blog-form .readon {
  display: inline-block;
}
.rt-blog-form .inputbox {
  width: 60%;
  border: 1px solid transparent;
}
.rt-blog-form .readon {
  width: 35%;
}
.menu-contact-us .contact h3 {
  display: none;
}
.menu-contact-us .contact-form legend {
  font-size: 1.5em;
  border-bottom: none;
  margin-bottom: 0;
}
.menu-contact-us .contact-form dt {
  width: 200px;
}
.menu-contact-us .contact-form dd {
  float: none !important;
  margin: 0;
}
.menu-contact-us .contact-form label {
  font-size: 1.2em;
  margin: 10px 0;
}
.menu-contact-us .contact-form input[type="text"],
.menu-contact-us .contact-form input[type="email"],
.menu-contact-us .contact-form textarea {
  width: 100%;
  height: auto;
  padding: 12px 15px;
  margin-bottom: 10px;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.menu-contact-us .contact-form input[type="checkbox"] {
  margin: 13px 0;
}
